<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="file" xsi:type="File" fileName="log.txt" layout="${time} [${threadname}] ${level} ${callsite:cleanNamesOfAnonymousDelegates=true:fileName=true} - ${message}"/>
            <target name="out" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${time} [${threadname}] ${level} ${callsite:cleanNamesOfAnonymousDelegates=true:fileName=true} - ${message}"/>
            <target name="debug" xsi:type="Debugger"/>
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="out,file,debug" />
        </rules>
    </nlog>
</configuration>
